@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
html{
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #161616;
}
header{
    display: flex;
    flex-direction: column;
}

.header_top_bar{
    display: flex;
    justify-content: space-around;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    background-color: #202020;
}

.top_bar_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.header_top_bar_button{
    gap: 1em;
    display: flex;
    align-items:center;
}
.header_top_bar_logo{
    display: flex;
    gap: 1em;
}

.header_img{
    height: 32.807010650634766px;
    width: 62.72727584838867px;
    border-radius: 0px;
}

.header_img_text{
    margin-top: 12.55px;
    border-radius: nullpx;
    border-radius: 0px;    
    border-radius: nullpx;
    font-family: 'TT Norms';
    font-style: normal;
    font-weight: 500;
    font-size: 11.1515px;
    line-height: 13px;

    letter-spacing: 0.3em;

    color: #FFFFFF; 
}

.header_button{
    flex-basis: 166px;
    height: 47px;
    color: #FF834E;
    border: 1px solid #FF834E;
    background-color: #202020;
    cursor: pointer;
}

.header_button_text{
    min-width: 202px;
    max-width: 202px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}
.header_main_text_photo{
   
    border-radius: 47px;
    position: absolute;
    width: 894.45px;
    height: 450.94px;
    left: 70.45px;
    top: 590.59px;
opacity: 0.1;    
    
}

.top_bar_menu_item{
    max-width:fit-content;
    max-height: 36px;
    list-style-type: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    cursor: pointer;
}

.header_main_sign{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url("img/fancycrave-277756-unsplash.png");
}
.header_main_logo{
    display: flex;
    align-items: center;
    gap: .5em;
}
.header_main_img{
    max-width: 18.89px;
    max-height: 18.89px;
    border-radius: 0px;
}
.header_main_img_text{
    max-width: fit-content;
    border-radius: nullpx;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22.6667px;
    line-height: 28px;

    color: #FF834E;
}
.header_descr_title{
    width: 824px;
    height: 140px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;

    color: #FFFFFF;
}
.header_descr_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    color: #FFFFFF;
}
.header_main_E{
    height: 768.5599365234375px;
    width: 595.0849609375px;
    border-radius: 0px;
    position:absolute;
    background: #FFFFFF;
    opacity: 0.03;
}

.header_main_img_phone{
    margin-top: 4em;
    max-width: 585px;
    max-height: 842.78px;
}

.header_main_callback_text{
    z-index: 1;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    font-variant: small-caps;
    color: #FFFFFF;
    max-width: fit-content;
}
.header_main_button{
    background: #FF834E;
box-shadow: 0px 5px 10px rgba(239, 139, 84, 0.2);
    display: flex;
    justify-content: space-between;
    max-width: 329px;
    max-height: 65px;
    background-color: #FF834E;
    padding:.3em;
}
.main_button{
    max-width: fit-content;
    max-height: fit-content;
    background-color: #FF834E;
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.header_main_button_img{
    background-color: #DE774B;
    max-width:62px;
    max-height: 65px;
    align-self: center;
    padding: 1.5em;
}
.header_main_hidden{
    width: 75px;
    height: 38.37px;
}
.header_main_fade{
    position: absolute;
    width: 1920px;
    height: 486px;
    left: 0px;
    top: 630px;
   
background: radial-gradient(199.83% 125.68% at 50% -33.36%, rgba(23, 23, 24, 0) 0%, rgba(23, 23, 24, 0) 65%, rgba(23, 23, 24, 0.773497) 80.79%, #171718 86.68%, rgba(23, 23, 24, 0.13) 95.33%);
}
.main_content{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("img/Blume\ BG.png")
}

.main_content_header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */


    color: #FFFFFF;
}

.main_content_bg{
    min-width: 1267px;
    min-height: 532px;
    background-image: url("img/Placeholder.png");
    opacity: 0.5;
    filter: blur(285.29px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    left: 296px;
    top: 1303px;
    opacity: 0.5;

}
.main_content_modal{
  position: fixed;
  display: none;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow:hidden; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #262626;
    margin: 15% auto;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
    height: 40%;
  }
.modal_close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.modal_close:hover,
.modal_close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.main_content_logo{
    margin-top: 87px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2em;
}
.modal_header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 32px;
    /* identical to box height */
    align-self:flex-start;
    text-align:center;
    color: #FFFFFF;
}
.modal_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height */
    align-self:flex-start;
    text-align:center;
    color: #FFFFFF;
}
.main_content_item{
    max-width: 243px;
    max-height: 296px;
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.main_content_item_num{
    max-width: 150px;
    max-height: 144px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 118px;
    line-height: 144px;
    
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.1em;
    
    color: #EF8B54;
    
    text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.15);
}
.main_content_item_descr{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */
    text-align: center;
    text-decoration-line: underline;

    color: #FFFFFF;
}

.main_content_item_text_more{
    max-width: 25px;
    max-height: 25px;
    border-radius: 80px;
    background-color: #EF8B54;
}

.main_mobile_container{
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}
.main_mobile{
    background-image: url("img/mobile.png");
    min-width: 496.55px;
    min-height: 736px;

}
.mobile_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    /* identical to box height */
    align-self:flex-start;
    text-align:center;
    color: #FFFFFF;

}
.main_mobile_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 41px;

    color: #FFFFFF;
}
.main_mobile_text{
    max-width: 570px;
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;

    color: #FFFFFF;
}

.main_mobile_logo{
    max-width:156.1px;
    max-height: 44px;;
}

.main_mobile_list{
    display:flex;
    gap:2em;
}
.main_list_text{
    font-size: 18px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */
    text-decoration-line: underline;

    color: #FFFFFF;

    opacity: 0.4;
}
.main_list_text_orange{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */
    text-decoration-line: underline;

    color: #EF8B54;


}

.main_slider_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;

    /* identical to box height */
    text-transform: uppercase;

    color: #FFFFFF;
}
.main_slider_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_slider{
    display: flex;
    justify-content: center;
    gap: 3em;
    flex-wrap: wrap;
}
.main_slider_title{
    align-self: center;
}
.slider_element_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 330px;
    max-height: 597px;
    background: rgba(20, 20, 20, 0.6);
    backdrop-filter: blur(30px);

    /* Note: backdrop-filter has minimal browser support */
    border-radius: 5px;
}


.active{
    opacity: 1;
}
.slider_element_img{
    width: 290px;
    height: 367px;
    border-radius: 3px;
}
.slider_element_title{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 30px;

/* identical to box height */

color: #FFFFFF;
}
.slider_element_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;

    color: #FFFFFF;

    opacity: 0.8;
}
.slider_underline{
    min-width: 330px;
    min-height: 8px;
    background: #DE9B55;
    box-shadow: 0px 2px 4px rgba(222, 155, 85, 0.4);
    border-radius: 7px;
    display: none;
}

.slider_feedback{
    margin-top: 5em;
    align-self: center;
    background-color: #50386F;
    color: #FFFFFF;
    display: flex;
}
.feedback_send_item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width:240px;
    min-height: 65px;
    background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
    box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
}
.feedback_text{
    align-self: center;
    font-family: Montserrat;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;

}

.feedback_img{
    background: linear-gradient(147.62deg, #8D5DCC -128.51%, #55329E 221.38%);
    box-shadow: 0px 5px 10px rgba(94, 56, 158, 0.35);
    width:19.56px;
    height: 10.9px;;
}
.show{
    display: block;
}



.main_customers_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 1em;
    /* identical to box height */
    
    color: #FFFFFF;
    
    
}
.main_customers_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_customers_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}
.main_customer{
    display: flex;
}
.main_customer_img{
    width: 317.4px;
    height: 216.6px;
}
.main_customer_num{
    /* position:relative; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 190px;
    line-height: 232px;
    margin-right: .8em;
    margin-top: .8em;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;

    opacity: 0.1;
}
.num{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 190px;
    line-height: 232px;

    /* identical to box height */

    color: #EF8B54;
    opacity: 1;
    text-shadow: 5px 5px 5px rgba(239, 139, 84, 0.)
}

.main_customer_button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.footer_input_container{
    margin-top: 5em;
    display: flex;
    flex-wrap: wrap;
    background-image: url("img/Blume\ BG.png");
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.footer_input_text{
    display: flex;
    flex-direction: column;
    max-width: 614px;
}
.footer_input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .2em;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.footer_input input{
    align-self: center;
}
.footer_input_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */

    color: #FFFFFF;
}

.footer_input_descr{
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 41px;
    line-height: 50px;

    color: #EF8B54;
}
.footer_input_box{
    margin-top: 4em;
    min-width: 635px;
    min-height: 222.65px;
    border: 4px solid #EF8B54;
    box-sizing: border-box;
}

.footer_input_head{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 12px;

    color: #595959;
}
.box_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-left: 6em;
    /* identical to box height */

    color: #FFFFFF;
}
.footer_img{
    position: absolute;
    width: 892px;
    height: 452.53px;
    left: 120px;
    top: 5665px;

    opacity: 0.1;
}
.small{
    font-size: 18px;
}

.input{
    margin-top: 1em;
    width: 290px;
    height: 44.93px;
    background: #F6F6F6;
 }
 .biginput{
    width: 290px;
    height: 79.88px;
 }
 .input_checkbox{
     display: flex;
     justify-content:center;
 }
.footer_input_robot{
    display: flex;
    align-self: flex-start;
}
.footer_input_robot input{
    position:relative;
    left: 30px;
    width: 20px;
}
.input_submit{
    width: 290px;
    height: 44.93px;
background: linear-gradient(113.3deg, #DE9B55 -8.73%, #EE5432 93.23%);
box-shadow: 0px 4px 4px rgba(222, 155, 85, 0.3);
margin-bottom: 2em;
}
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 240px;
    margin-top: auto;
    background: #202020;
}
.footer_logo{
    width: 158.08px;
    height: 84px;
}
.footer_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    /* identical to box height */

    color: #FFFFFF;

    opacity: 0.5;
}
.footer_text{
    
font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 20px;

/* identical to box height */

color: #FFFFFF;
}
.footer_map h1{
    max-width: 88.05px;
}
.footer_pointer{
    display: flex;
    align-items: center;
    gap: 1em;
}
@media(max-width:1500px){
    .main.main_mobile_container{
        flex-direction: row;
    }
    .main_mobile_descr{
        max-width: 500px;
    }
    .header_main_fade{
        display: none;
    }
}
@media(max-width:834px){
    html{
        max-width: 834px;
    }
    body{
        max-width: 834px;
    }
    .header_main_fade{
        display: none;
    }
    .header_main_sign{
        flex-direction: column;
       justify-content: center; 
       align-items: center;
    }
    .header_main_img_phone{
        margin-top: 2em;
        max-width: 285px;
        max-height: 442.78px;
    }
    .header_top_bar{
        align-items: center;
        justify-content: center;
    }
    .header_top_bar_button{
        align-items: center;
        justify-content: center;
    }
    .header_main_container{
        flex-direction: column;
        justify-content: center;
    }
    .main_content{
        flex-direction: column;
    }
    .main_slider{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_info{
        justify-content: center;
    }
    .main_customer_num{
        font-size: 80px;
    }
    .footer_input_text{
        max-width: 320px;
        align-items: center;
    }
    .main_mobile_container{
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .main_mobile_descr{
        flex-direction: column;
        max-width: 320px;
    }
    .main_mobile_banks{
        flex-direction: column;
    }
    .main_mobile_logo{
        max-width:86.1px;
        max-height: 22px;
    }
    .header_descr_title{
        max-width: 320px;
        font-size: 1.5em;
        align-items: center;
    }
    .header_descr_text{
        max-width: 320px;
        font-size: .8em;
    }
    .main_customers_container{
        flex-direction: column;
    }
    .main_customer{
        flex-direction: column;
    }
    .main_customer_img{
        width: 160.4px;
    height: 96.6px;
    }
    .small{
        max-width: 200px;
        align-self: center;
    }
    .footer_input_head{
        max-width: 180px;
        font-size: .9em;
    }
    .footer_input_box{
        max-width: 320px;
        font-size: .9em;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .box_text{
        max-width: 320px;
    }
    .main_mobile{
        align-self: center;
        align-items: center;
        max-width: 296.55px;
        max-height: 336px;
        margin-right: 4em;
    }
    /* .footer_pointer{
        flex-direction: column;
    } */
}
@media(max-width:420px){
    .header_top_bar{
        flex-direction: column;
    }
    .header_descr_text{
        margin-top: 3em;
        font-size: 1em;
    }
    .header_main_container{
        flex-wrap: wrap;
        gap: 3em;
    }
    .top_bar_menu{
        display: none;
    }
    .header_top_bar_button{
        display: none;
    }
}